{
  "root": true,
  "extends": "standard",
  "plugins": [
    "import",
    "standard",
    "node",
    "promise"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "amd": true
  },
  "globals": {},
  "rules": {
    "space-in-parens": [
      "error", "always", {"exceptions": ["empty"]}
    ],
    "padded-blocks": "off",
    "space-before-blocks": [
      "error", {"functions": "always"}
    ]
  }
}
