..\..\..\..\C:\Users\camer\Desktop\create-gas-project\scratch.js
..\..\..\..\C:\Users\camer\Desktop\create-gas-project\.travis.yml
..\..\..\..\C:\Users\camer\Desktop\create-gas-project\.editorconfig
..\..\..\..\C:\Users\camer\Desktop\create-gas-project\.vscode
..\..\..\..\C:\Users\camer\Desktop\create-gas-project\test
..\..\..\..\C:\Users\camer\Desktop\create-gas-project\coverage
