{
  "arrowParens"   : "avoid",
  "endOfLine"     : "lf",
  "parser"        : "babel-flow",
  "proseWrap"     : "always",
  "quoteProps"    : "preserve",
  "trailingComma" : "none",
  "printWidth"    : 80,
  "tabWidth"      : 2,
  "bracketSpacing": false,
  "insertPragma"  : true,
  "requirePragma" : true,
  "semi"          : false,
  "singleQuote"   : true,
  "useTabs"       : false
}
